:host nb-layout-column {
      height: 80%;
      // width : 100%;
    }

  .columnHeight{
    height: 100%;
    // width: auto;

  }

  .fullHeightWidth {
    height: 20%;
    // width: auto;
  }

  .resizeElement {
    resize: both;
  }

  #one{
     background:red;

   }
   #two{
     background:green;
   }
   #three{
     background:blue;
   }
  #four{
    background: yellow;
  }
