<nb-layout>

  <nb-layout-header fixed>
    <a href="#" (click)="toggle()"><i class="nb-menu"></i>Menu</a>
      <!-- {{title}} -->
  </nb-layout-header>

  <nb-layout-header subheader>
    <nb-actions>
      <nb-action icon="nb-home"></nb-action>
      <nb-action icon="nb-search"></nb-action>
      <nb-action icon="nb-edit"></nb-action>
    </nb-actions>
  </nb-layout-header>



<nb-sidebar>Sidebar Content</nb-sidebar>

   <nb-layout-column>First column</nb-layout-column>
   <nb-layout-column>Second column</nb-layout-column>
   <nb-layout-column>Third column</nb-layout-column>



    <!-- <router-outlet></router-outlet> -->
  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
